@use "styles/colors.scss" as *;

.folder {
  max-width: 468px;


  & button {
    display: flex;
    padding: 4px;
    gap: 4px;
    align-items: center;
    cursor: default;
    width: 100%;

    & input {
      background: $background1;
      border: 1px solid $hover1;
      border-radius: 3px;
      color: $white1;
      width: 100%;
      padding: 4px;
  
      &:focus {
        outline: none;
        border: 1px solid $hover1;
      }
    }
    
    &:hover {
      background: $white2;
      cursor: pointer;
    }
    
    & span {
      padding-left: 8px;
      word-break: break-all;
    }
  }
}

.itemActive {
  box-sizing: border-box;
  background: #32ADE64D;
  border: 1px solid $hover1;

  &:hover {
    background: #32ADE64D !important;
  }
}

.file {
  width: 100%;
  text-align: start;
  padding: 4px;

  &:hover {
    background: $white2;
    cursor: pointer;
  }
  
  & span {
    padding-left: 4px;
  }
}



.chevron {
  transform: rotate(0);
  transition-duration: .5s;
}

.chevronActive {
  transform: rotate(90deg);
  transition-duration: .5s;
}

.childrenFolder {
  margin-left: 15px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.9s ease-out;
  border-left: 1px solid $border1;

  .file {
    padding-left: 40px;
  }
}

.childrenFolder.expanded {
  max-height: 100%;
}