@use "styles/colors.scss" as *;

@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css");

body {
  background: $background1;
  color: $white1;
  font-family: 'Inter', sans-serif;
}

button {
  background: none;
  padding: 0;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}