@use "styles/colors.scss" as *;

.wrapper {
  border-bottom: 1px solid $border1;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panelControl {
  display: flex;
  gap: 30px;

  & svg:hover path {
    stroke: $hover1;
  }
} 
